@mixin PhoneResp {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin IPadResp {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin Flex-Just-center {
  display: flex;
  justify-content: center;
}

@mixin btn-orange {
  height: 63px;
  font-size: 16px;
  font-weight: 600;
  background-color: #d1a570;
  border: 1px solid #d1a570;
  width: 206px;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: #d3954b;
    transition: 0.3s;
  }
}

@mixin blackTypeLogo {
  
}