$mute-color: rgb(171, 171, 171);
$main-text-col: rgb(51, 51, 51);
$card-a-col: rgb(126, 126, 126);

$primary-color: #191717;
$link-color: #fff;
$link-border-color: rgb(110, 109, 109);
$secondary-color: #d1a570;
$menyu-bar-input-color: #222;
$blur-color: rgba(0, 0, 0, 0.5);
$searchbar-color: #222121;
