@import "variables";
@import "mixins";
@import "commons";
@import "sections/header";
@import "sections/mobileBar";
@import "sections/section-intro";
@import "sections/blackSide";


main {
  .slide-wrapper {
    @include PhoneResp() {
      bottom: 52px;
      position: relative;
      top: -104px;
    }

    .container {
      width: 80%;
      display: flex;
      .row {
        justify-content: flex-end;
      }
    }
  }

  .owl-carousel {
    .item-1 {
      height: 91vh;
      background-image: url(../img/Carousel-1/demo-1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include slide-card-item;
    }
    .item-2 {
      height: 91vh;
      background-image: url(../img/Carousel-1/demo-3.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include slide-card-item;
    }
    .item-3 {
      height: 91vh;
      background-image: url(../img/Carousel-1/demo-2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include slide-card-item;
    }

    .owl-nav {
      .owl-prev {
        @include PhoneResp() {
          display: none;
        }
        position: absolute;
        z-index: 3;
        font-size: 50px;
        left: 50px;
        top: 348px;
        font-size: 50px;
        padding: 50px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
        opacity: 100%;
        &:hover {
          background-color: #d1a570;
          transition: 0.3s;
        }
        span {
          position: absolute;
          top: -15px;
          left: 19px;
          font-weight: 100;
        }
      }
      .owl-next {
        @include PhoneResp() {
          display: none;
        }
        position: absolute;
        z-index: 3;
        left: 1775px;
        top: 348px;
        font-size: 50px;
        padding: 50px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
        &:hover {
          background-color: #d1a570;
          transition: 0.3s;
        }
        span {
          position: absolute;
          top: -15px;
          left: 19px;
          font-weight: 100;
        }
      }
    }
  }
}
