@import "variables";
@import "mixins";
@import "commons";
@import "sections/header";
@import "sections/mobileBar";
@import "sections/section-intro";
@import "sections/blackSide";

body {
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    .modal {
      background-color: white;
      width: 600px;
      max-width: 100%;
      padding: 30px 50px;
      border-radius: 4px;
      position: relative;
      #times {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 30px;
      }
      .modal-form {
        a {
          color: black;
        }
        h1 {
          font-weight: 500;
        }
        p {
          font-size: small;
          margin-bottom: 20px;
          color: grey;
          margin-top: 15px;
        }
        .input-box {
          display: flex;
          flex-direction: column;
          .validation {
            font-size: small;
            margin-bottom: 5px;
            color: red;
          }
          input[type="email"] {
            margin-bottom: 15px;
            height: 40px;
            background-color: rgb(236, 236, 236);
            border: none;
            border-radius: 5px;
            padding: 10px;
            outline: none;
          }
          input[type="password"] {
            margin-bottom: 15px;
            height: 40px;
            background-color: rgb(236, 236, 236);
            border: none;
            border-radius: 5px;
            padding: 10px;
            outline: none;
          }
          .div {
            display: flex;
            justify-content: space-between;
          }
          input[type="submit"] {
            margin-top: 15px;
            border: none;
            border-radius: 5px;
            background-color: $secondary-color;
            color: $link-color;
            padding: 15px 25px;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.2s ease;
            &:hover {
              background-color: #be9461;
            }
          }
        }
      }
    }
  }
  .modal-container.show {
    opacity: 1;
    pointer-events: auto;
  }
}

main {
  .slide-wrapper {
    @include PhoneResp() {
      bottom: 52px;
      position: relative;
      top: -104px;
    }

    .container {
      width: 80%;
      display: flex;
      .row {
        justify-content: flex-end;
      }
    }
  }

  .owl-carousel {
    .item-1 {
      height: 91vh;
      background-image: url(../img/Carousel-1/demo-1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include slide-card-item;
    }
    .item-2 {
      height: 91vh;
      background-image: url(../img/Carousel-1/demo-3.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include slide-card-item;
    }
    .item-3 {
      height: 91vh;
      background-image: url(../img/Carousel-1/demo-2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include slide-card-item;
    }

    .owl-nav {
      .owl-prev {
        @include PhoneResp() {
          display: none;
        }
        position: absolute;
        z-index: 3;
        font-size: 50px;
        left: 50px;
        top: 348px;
        font-size: 50px;
        padding: 50px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
        opacity: 100%;
        &:hover {
          background-color: #d1a570;
          transition: 0.3s;
        }
        span {
          position: absolute;
          top: -15px;
          left: 19px;
          font-weight: 100;
        }
      }
      .owl-next {
        @include PhoneResp() {
          display: none;
        }
        position: absolute;
        z-index: 3;
        left: 1775px;
        top: 348px;
        font-size: 50px;
        padding: 50px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
        &:hover {
          background-color: #d1a570;
          transition: 0.3s;
        }
        span {
          position: absolute;
          top: -15px;
          left: 19px;
          font-weight: 100;
        }
      }
    }
  }
}
