#feature {
  margin-bottom: 80px;

  @include PhoneResp() {
    .container-wrapper {
      margin: auto;
      width: 80%;
      .featured-prop {
        display: inline-grid;
        width: 90% !important;
        .header-wrapper {
          display: block !important;
          .view-button {
            margin-top: 40px;
          }
        }
      }
    }
  }

  .featured-prop {
    @include PhoneResp() {
      width: 100%;
    }
    width: 80%;
    margin: 0 auto;
    .header-wrapper {
      @include PhoneResp {
        .home-id {
          justify-self: flex-end !important;
          width: 328px;
          height: 104px;
          margin-bottom: 55px;
          margin-left: -15px;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 150px;
      .view-button {
        @include PhoneResp() {
          display: flex;
          flex-direction: column;
        }
        a {
          height: 63px;
          font-size: 16px;
          padding: 15px;
          font-weight: 600;
          background-color: #d1a570;
          border: 1px solid #d1a570;
          width: 206px;
          border-radius: 5px;
          color: white;
          text-decoration: none;
        }
      }
    }
    .card {
      @include PhoneResp() {
        width: 50% !important;
        // display: flex;
        // flex-direction: column;
      }
      width: 100%;
      .featured {
        position: absolute;
        top: 10px;
        padding: 1px 20px;
        border-radius: 3px;
        background-color: #ff6935;
        width: auto;
        margin-left: 10px;
        span {
          color: white;
          font-size: small;
        }
      }
      .for-rent {
        position: absolute;
        top: 10px;
        left: 120px;
        padding: 1px 20px;
        border-radius: 3px;
        background-color: rgb(95, 185, 185);
        margin-left: 5px;
        width: 100px;
        span {
          text-align: center;
          color: white;
          font-size: small;
        }
      }

      .card-body {
        .card-title {
          font-size: 16px;
          font-weight: 500;
        }
        a {
          line-height: 26.04px;
          text-align: left;
          text-decoration: none;
          color: rgb(171, 171, 171);
          &:hover {
            color: black;
          }
        }
        .icon-line-box {
          .line {
            li {
              .fa-bed {
                color: #d1a570;
              }
              .bed {
                margin-left: 5px;
                color: $mute-color;
              }
              .fa-shower {
                margin-left: 10px;

                color: #d1a570;
              }
              .bath {
                margin-left: 5px;
                color: $mute-color;
              }
              .fa-window-maximize {
                margin-left: 10px;
                color: #d1a570;
              }
              .size {
                margin-left: 5px;
                color: $mute-color;
              }
            }
          }
        }
      }
      .card-footer {
        background-color: transparent;

        .card-text {
          .price {
            font-weight: 700;
            font-size: 15px;
          }
          .month {
            color: rgb(171, 171, 171);
          }
          .card-icons-right {
            .fa-star {
              border: 1px solid $mute-color;
              padding: 10px;
              border-radius: 50%;
              font-size: 15px;
              color: $mute-color;
              margin-left: -12px;
              cursor: pointer;
            }
            .fa-plus {
              border: 1px solid $mute-color;
              padding: 10px;
              border-radius: 50%;
              font-size: 15px;
              width: 36px;
              color: $mute-color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
